.option-selection select {
    border: none;
    border-radius: 20px;
    padding: 5px;
  }
  
  .option-selection {
    display: flex;
    /* flex-row; */
    align-items: center;
    height: 5vh;
    margin-bottom: 50px;
    justify-content: center;
    gap: 10px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .keyboard-button {
    font-size: 30px;
    margin-bottom: 5px;
    color: rgb(248, 197, 12);
  }
  
  .pause-button {
    border-radius: 5px;
    width: 80px;
    color: black;
    background-color: gray;
    transition: 0.3s;
  }
  
  .visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
  }
  
  .isVisible {
    display: flex;
    transition: 0.3s;
  }
  
  .isNotVisible {
    display: none;
    transition: 0.3s;
  }
  
  .invisible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
  }
  .writing-cursor {
    display: inline-block;
    width: 2px;
    background-color: orange;
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  